openapi: 3.0.3
info:
  title: Asset Service
  version: 2.1.020
  contact:
    name: Synack Engineering
    email: engineering@synack.com
tags:
  - name: asset-relationships
    description: Relationships between assets.
  - name: Assets
    description: Assets managed by Synack.
  - name: cloudaccounts
    description: Cloud account assets.
  - name: credentials
    description: Credentials are restricted to authorized users.
  - name: Hosts
    description: Host assets.
  - name: Assessments
    description: Assets are associated with listings.
  - name: mobileapps
    description: Mobile application assets.
  - name: networks
    description: Network assets.
  - name: ports
    description: Ports for single host assets.
  - name: scoperules
    description: Scope-rules provide fine grained control for what is in and out of scope for an asset.
  - name: scripts
    description: Scripts for mobile and web applications.
  - name: userroles
    description: Defines persona-specific user roles for asset credential management.
  - name: users
    description: Users of credentials.
  - name: webapps
    description: Web application assets.
servers:
  - url: https://client.synack.com/api/asset
    description: Commercial 
  - url: https://client.synack.us/api/asset
    description: FedRAMP (Medium)
paths:
  /v2/bulk/assets:
    post:
      operationId: postAssetBulk
      tags:
        - Assets
        - cloudaccounts
        - Hosts
        - mobileapps
        - networks
        - webapps
      description: >
        Bulk upserts array of assets and listing associations. Checks properties
        of assets for validity and returns 409 Conflict if rules are violated.
        Relationships can be upserted using the sourceRelationships property only.
      x-mint:
        metadata:
          title: Bulk Create Assets
      requestBody:
        description: Supply Asset UID for the asset to upsert
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SingleOrMultiAsset"
      responses:
        "201":
          $ref: "#/components/responses/SingleOrMultiAssetResponse"
        "202":
          $ref: "#/components/responses/202StatusAccepted"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "409":
          $ref: "#/components/responses/409Conflict"
        "413":
          $ref: "#/components/responses/413RequestEntityTooLarge"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/bulk/assets/lifecycle-state:update:
    post:
      operationId: bulkUpdateAssetLifecycleState
      tags:
        - Assets
        - cloudaccounts
        - Hosts
        - mobileapps
        - networks
        - webapps
      description: >
        Bulk updates the asset life cycle property. Checks the validity of assets and returns 409 Conflict if rules are violated.
      x-mint:
        metadata:
          title: Bulk Update Asset Lifecycle State 
      requestBody:
        description: Supply Organization UID, Asset UIDs for the assets to update, and the lifecycle state to update to.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetBulkLifecycleStateUpdate"
      responses:
        "200":
          $ref: "#/components/responses/AssetBulkLifecycleStateUpdateResponse"
        "202":
          $ref: "#/components/responses/202StatusAccepted"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "409":
          $ref: "#/components/responses/409Conflict"
        "413":
          $ref: "#/components/responses/413RequestEntityTooLarge"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/bulk/assets/criticality:update:
    post:
      operationId: bulkUpdateAssetCriticality
      tags:
        - Assets
        - cloudaccounts
        - hosts
        - mobileapps
        - networks
        - webapps
      description: >
        Bulk update the criticality of multiple assets.
      x-mint:
        metadata:
          title: Bulk Update Asset Criticality
      requestBody:
        description: The Organization UID, Asset UIDs to be updated, and the criticality value to be set on the assets.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetBulkCriticalityUpdate"
      responses:
        "200":
          $ref: "#/components/responses/AssetBulkCriticalityUpdateResponse"
        "202":
          $ref: "#/components/responses/202StatusAccepted"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "409":
          $ref: "#/components/responses/409Conflict"
        "413":
          $ref: "#/components/responses/413RequestEntityTooLarge"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/listings/{listingUid}/assets/{assetUid}:
    parameters:
      - $ref: "#/components/parameters/ListingUIDPath"
      - $ref: "#/components/parameters/AssetUIDPath"
    put:
      operationId: putListingAsset
      tags:
        - Assessments
      description: Upsert assignment of an asset to a listing.
      x-mint:
        metadata:
          title: Add Asset to Assessment 
      requestBody:
        description: Properties of the assignment of an asset to a listing.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListingAsset"
      responses:
        "200":
          $ref: "#/components/responses/SingleListingAsset"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_client_lw
            - asset_boss_ow
            - asset_boss_lw
    delete:
      operationId: deleteListingAsset
      tags:
        - Assessments
      description: Delete the assignment of an asset to a listing.
      x-mint:
        metadata:
          title: Remove Asset from Assessment 
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/listings/{listingUid}/assets:
    parameters:
      - $ref: "#/components/parameters/ListingUIDPath"
    patch:
      operationId: patchListingAssets
      tags:
        - Assessments
      description: Associate or disassociate zero or more assets from a listing.
        Allows the caller to provide lists of assets to add to and/or remove from
        being associated with a listing. Unknown assets are ignored.
      x-mint:
        metadata:
          title: Add or Remove Multiple Assets to/from Asessment
      requestBody:
        description: Asset UIDs to add associations to and/or remove associations from the listing.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkListingAsset"
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "413":
          $ref: "#/components/responses/413RequestEntityTooLarge"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_client_lw
            - asset_boss_ow
            - asset_boss_lw
    delete:
      operationId: deleteListingAssets
      parameters:
        - $ref: "#/components/parameters/AssetTypeQuery"
      tags:
        - Assessments
      description: Delete all the association of assets from a listing.
      x-mint:
        metadata:
          title: Remove All Assets from Assessment
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_boss_ow
            - asset_boss_lw
            - asset_client_ow
            - asset_client_lw

  /v2/organizations/{organizationUid}/listings/{listingUid}/gateways:
    parameters:
      - $ref: "#/components/parameters/OrganizationUIDPath"
      - $ref: "#/components/parameters/ListingUIDPath"
    patch:
      x-excluded: true
      operationId: patchListingGateways
      tags:
        - Assessments
      description: |
        Associate or disassociate gateway ID from a listing.
        Allows the caller to provide gateway ID to add to and/or remove from
        being associated with a listing. Gateway ID equals to `"nil"` would disassociate.
      requestBody:
        description: Gateway ID to add or remove from the listing and every asset attached to that listing.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GatewayIDInput"
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_client_lw
            - asset_boss_ow
            - asset_boss_lw

  /v2/listings/{listingUid}/reset-scope-rules:
    parameters:
      - $ref: "#/components/parameters/ListingUIDPath"
    put:
      x-excluded: true
      operationId: putListingAssetsResetScopeRules
      tags:
        - Assessments
      description: For every asset associated with the listing, reset the scope rules to default rules
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_boss_ow
            - asset_boss_lw

  /v2/assets:
    get:
      operationId: getAssets
      tags:
        - Assets
        - cloudaccounts
        - Hosts
        - mobileapps
        - networks
        - webapps
      description: >
        Retrieve the list of assets for one or more organizations, considering
        filtering and pagination query parameters. When an organization-level
        OAuth2 scope is provided, the results will be restricted to those
        organizations the user is authorized for. Similarly, if a listing-
        level OAuth2 scope is provided, the results will be restricted to those
        listings the user is authorized for.

        Additional query parameters generally restrict the resulting set of
        assets according to AND semantics.

        Use of organizationUid and listingUid query parameters will further
        restrict the results.

        If neither are specified, the returned assets are the set of assets
        the user is allowed to access with organization OR listing specific
        privileges.

        If listing UIDs are supplied without organization UIDs, then only the
        assets assigned to those listings (which the user is authorized for)
        will be returned. Conversely, if organization UIDs are supplied without
        listing UIDs, then only the assets owned by those organizations (which
        the the user is authorized for) will be returned.

        Should both organization UIDs and listing UIDs be supplied, then the set
        of assets returned is restricted to assets assigned to any of the
        supplied listings, AND owned by any of the supplied organizations,
        further restricted to only those the user is authorized to access.

        Researcher users are restricted to only viewing credentials of in scope
        assets for listings to which they have been assigned.
      x-mint:
        metadata:
          title: Get Assets
      parameters:
        - $ref: "#/components/parameters/OrganizationUIDQuery"
        - $ref: "#/components/parameters/ListingUIDQuery"
        - $ref: "#/components/parameters/AssetTypeQuery"
        - $ref: "#/components/parameters/HostTypeQuery"
        - in: query
          name: search
          schema:
            type: string
          required: false
          description: >
            Optional query parameter for a search string that will be used
            to match within the label or location properties of assets. If
            this query parameter is provided, any location query parameter
            will be ignored.
        - in: query
          name: active
          schema:
            type: boolean
          required: false
          description: >
            Optional parameter that determines whether the response includes
            assets regardless of active state (the default, if this query
            parameter is not provided); active assets only if true; or inactive
            assets only if false.
        - in: query
          name: inProduction
          schema:
            type: boolean
          required: false
          description: >
            Optional query parameter that determines whether production or
            non-production assets will be included in the response.
        - in: query
          name: maxHostDiscoveryAgeMins
          schema:
            type: integer
            default: 0
          required: false
          description: >
            Optional query parameter to get host assets which are discovered by cloudEnumeration scanner shifted by maxHostDiscoveryAgeMins.
            Assets which are added via boss or discovered by other type of scanners will be included in response.
            E.g. CloudEnumeration hosts are valid for 1 hour from each time they are discovered, maxHostDiscoveryAgeMins=0 means that
            if the end time of the relationship has passed, the asset will not be returned - maxHostDiscoveryAgeMins=60 however, would return assets
            that were still valid 60 minutes ago
        - in: query
          name: scope[]
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Scope"
          required: false
          explode: true
          description: Restrict the returned assets to only assets associated to listings by the specified scopes.
        - in: query
          name: cloudPlatform[]
          schema:
            type: array
            items:
              $ref: "#/components/schemas/CloudPlatform"
          required: false
          explode: true
          description: Restrict the returned assets to only assets enumerated from a particular cloud platform.
        - in: query
          name: location
          schema:
            type: string
          required: false
          description: >
            Prefix search of the derived location property.
        - in: query
          name: errorCode[]
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ErrorCode"
          required: false
          explode: true
          description: Filter assets to only include assets with matching error codes.
        - in: query
          name: portNumber[]
          schema:
            type: array
            items:
              $ref: "#/components/schemas/PortNumber"
          required: false
          explode: true
          description: Filter assets to only include hosts with open ports
            matching the port number.
        - in: query
          name: maxOpenPorts
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 65535
          required: false
          description: Max open ports from a single IP address.
        - in: query
          name: hasNetwork
          schema:
            type: boolean
          required: false
          description: |
            Filter assets to include/exclude those with networks.
            Deprecating.
        - in: query
          name: networkUid[]
          schema:
            type: array
            items:
              $ref: "#/components/schemas/UID"
          required: false
          explode: true
          description: |
            Unique identifier for a network.
            If not supplied the request will apply to all networks the user is authorized to access.
            Deprecating.
        - in: query
          name: gatewayId[]
          schema:
            type: array
            items:
              $ref: "#/components/schemas/GatewayID"
          required: false
          explode: true
          description: |
            Unique gateway id.
            If not supplied the request will apply to all gateways.
        - in: query
          name: earliestCreatedAt
          schema:
            type: string
            format: date-time
          required: false
          description: Filter assets with a createdAt date greater or equal to this value
        - in: query
          name: latestCreatedAt
          schema:
            type: string
            format: date-time
          required: false
          description: Filter assets with a createdAt date less than or equal to this value
        - in: query
          name: userUid
          schema:
            $ref: "#/components/schemas/UserUID"
          required: false
          description: Restricts the credentials to only those available to the user. This query parameter is ignored if the user is a researcher.
        - in: query
          name: relationshipTargetAssetUid
          schema:
            $ref: "#/components/schemas/AssetUID"
          required: false
          description: >
            Filter assets which have a relationship with targetAssetUid equal to this value.
        - in: query
          name: relationshipType
          schema:
            $ref: "#/components/schemas/AssetRelationshipType"
          required: false
          description: >
            Filter assets which have a relationship of this type.
        - $ref: "#/components/parameters/PerPageQuery"
        - $ref: "#/components/parameters/PageQuery"
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - location
              - label
              - createdAt
              - updatedAt
              - lastReachableAt
              - lastScan
          description: Optional property to sort results by.
          required: false
        - $ref: "#/components/parameters/SortDirQuery"
        - in: query
          name: origin
          schema:
            type: string
            enum:
              - provided
              - discovered
          description: Optional property to filter results by human created or system discovered assets.
          required: false
        - name: lifecycleState[]
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - confirmed
                - unconfirmed
                - archived
                - ignored
          description:
            Optional property to filter results by asset lifecycle state. When not
            supplied, all assets except `archived` will be returned.
        - in: query
          name: omitFields
          description: Fields to omit from response.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - relationships
                - externalRelationships
                - ports
                - networks
                - scopeRules
                - binaries
                - userRoles
        - $ref: "#/components/parameters/IpRanges"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedArrayOfAssets"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
            - asset_srt_lr
            - asset_scan_gr
    post:
      operationId: postAsset
      tags:
        - Assets
        - cloudaccounts
        - Hosts
        - mobileapps
        - networks
        - webapps
      description: >
        Creates an asset in my Synack org.
      x-mint:
        metadata:
          title: Create Asset
      requestBody:
        description: Asset to create.
          If the asset is of cloud account type, only its metadata returned in
          the response as credential data is restricted to asset_scan_gr scope.
          If the asset is of webapp type, corresponding FQDN or IP host asset
          will also be created.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SingleOrMultiAsset"
      responses:
        "201":
          $ref: "#/components/responses/SingleOrMultiAssetResponse"
        "202":
          $ref: "#/components/responses/202StatusAccepted"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "409":
          $ref: "#/components/responses/409Conflict"
        "413":
          $ref: "#/components/responses/413RequestEntityTooLarge"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
  /v2/assets/{assetUid}/whois:
    parameters:
      - $ref: "#/components/parameters/AssetUIDPath"
    get:
      operationId: getWHOIS
      tags:
        - Assets
        - Hosts
      description: >
        Retrieves the WHOIS data for a single asset.
      x-mint:
        metadata:
          title: Get WHOIS for Asset
      responses:
        "200":
          $ref: "#/components/responses/WHOISResponse"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
            - asset_srt_lr
            - asset_scan_gr
    put:
      x-excluded: true
      operationId: putWHOIS
      tags:
        - Assets
        - Hosts
      description: >
        Adds the WHOIS data to a single asset.
      requestBody:
        description: WHOIS data to add to asset.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WHOISRequest"
      responses:
        "200":
          $ref: "#/components/responses/WHOISResponse"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
  /v2/assets/{assetUid}:
    parameters:
      - $ref: "#/components/parameters/AssetUIDPath"
    get:
      operationId: getAsset
      tags:
        - Assets
        - cloudaccounts
        - Hosts
        - mobileapps
        - networks
        - webapps
      description: >
        Retrieves a single asset. If the user is a researcher, only the credentials they are authorized to access will be returned.
        If the asset is of cloud account type, only a user with asset_scan_gr scope can access its credential data.
      x-mint:
        metadata:
          title: Get Asset
      parameters:
        - in: query
          name: userUid
          schema:
            $ref: "#/components/schemas/UserUID"
          required: false
          description: Restricts the credentials to only those available to the user. This query parameter is ignored if the user is a researcher.
      responses:
        "200":
          $ref: "#/components/responses/SingleAssetResponse"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_scan_gr
            - asset_or
            - asset_lr
            - asset_srt_lr
    patch:
      operationId: patchAsset
      tags:
        - Assets
        - cloudaccounts
        - Hosts
        - mobileapps
        - networks
        - webapps
      description: >
        Patches the properties of a single asset.
      x-mint:
        metadata:
          title: Patch Asset
      requestBody:
        description: Asset properties to patch.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SingleAsset"
      responses:
        "200":
          $ref: "#/components/responses/SingleAssetResponse"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteAsset
      tags:
        - Assets
        - cloudaccounts
        - Hosts
        - mobileapps
        - networks
        - webapps
      description: >
        Deletes an asset. This is intended to be a privileged operation.
        Regular use should be to mark the asset as inactive. Any relationships
        that involve the deleted asset will be also be deleted, as will any
        association to listings.
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/assets/{assetUid}/related-assets:
    parameters:
      - $ref: "#/components/parameters/AssetUIDPath"
    get:
      operationId: getRelatedAssets
      tags:
        - Assets
      description: >
        Returns all assets that share a relationship with the matched Asset UID.
      x-mint:
        metadata:
          title: Get Related Assets
      parameters:
        - $ref: "#/components/parameters/AssetTypeQuery"
      responses:
        "200":
          $ref: "#/components/responses/SingleOrMultiAssetResponse"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
            - asset_srt_lr
            - asset_scan_gr

  /v2/assets/{assetUid}/tools/burp/target-scope.json:
    parameters:
      - $ref: "#/components/parameters/AssetUIDPath"
    get:
      x-excluded: true
      operationId: getBurpTargetScopeForAsset
      tags:
        - Assets
        - webapps
      description: >
        Retrieve a Burp target scope file, if the asset is a webapp.
      responses:
        "200":
          description: JSON Target Scope file for Burp.
          content:
            application/json: {}
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
            - asset_srt_lr

  /v2/assets/{assetUid}/scripts:
    parameters:
      - $ref: "#/components/parameters/AssetUIDPath"
    get:
      x-excluded: true
      operationId: getAssetScripts
      tags:
        - webapps
        - mobileapps
        - scripts
      description:
        Gets all scripts owned by the mobile or web application asset. Returns 409 status
        if the asset is not of one of these types.
      parameters:
        - $ref: "#/components/parameters/PerPageQuery"
        - $ref: "#/components/parameters/PageQuery"
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - name
              - scriptRole
              - createdAt
              - updatedAt
          description: Optional property to sort results by.
          required: false
        - $ref: "#/components/parameters/SortDirQuery"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedArrayOfAssetScripts"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
    post:
      x-excluded: true
      operationId: postAssetScript
      tags:
        - webapps
        - mobileapps
        - scripts
      description: >
        Adds a script to a mobile or web application asset. Returns 409 status if the asset
        is of any other type..
      requestBody:
        description: Script to add.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetScript"
      responses:
        "201":
          $ref: "#/components/responses/SingleAssetScript"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "412":
          $ref: "#/components/responses/412PreconditionFailed"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/assets/{assetUid}/credentials:
    parameters:
      - $ref: "#/components/parameters/AssetUIDPath"
    get:
      x-excluded: true
      operationId: getAssetCredentials
      tags:
        - webapps
        - mobileapps
        - credentials
      description:
        Gets all credentials owned by web application asset. Returns 409 status
        if the asset is not of this type.
      parameters:
        - $ref: "#/components/parameters/PerPageQuery"
        - $ref: "#/components/parameters/PageQuery"
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - name
              - createdAt
              - updatedAt
          description: Optional property to sort results by.
          required: false
        - $ref: "#/components/parameters/SortDirQuery"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedArrayOfAssetCredentials"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_scan_gr
            - asset_or

  /v2/scripts/{scriptUid}:
    parameters:
      - $ref: "#/components/parameters/ScriptUIDPath"
    get:
      x-excluded: true
      operationId: getAssetScript
      tags:
        - mobileapps
        - scripts
        - webapps
      description: Gets an asset script.
      responses:
        "200":
          $ref: "#/components/responses/SingleAssetScript"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_scan_gr
            - asset_or
            - asset_lr
    delete:
      x-excluded: true
      operationId: deleteAssetScript
      tags:
        - mobileapps
        - scripts
        - webapps
      description: >
        Delete a script from a asset.
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    patch:
      x-excluded: true
      operationId: patchAssetScript
      tags:
        - mobileapps
        - scripts
        - webapps
      description: >
        Patch the properties of an asset script.
      requestBody:
        description: Script properties to patch.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRoleScriptUpdate"
      responses:
        "200":
          $ref: "#/components/responses/SingleUserRoleScript"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/scripts/{scriptUid}/script-data:
    parameters:
      - $ref: "#/components/parameters/ScriptUIDPath"
    get:
      x-excluded: true
      operationId: getAssetScriptData
      tags:
        - mobileapps
        - scripts
        - webapps
      description: Gets the script data for an asset script.
      responses:
        "200":
          description: JSON-representation of the asset script data
          content:
            application/json: {}
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr

  /v2/assets/{assetUid}/ports/{portNumber}/{portProtocol}:
    parameters:
      - $ref: "#/components/parameters/AssetUIDPath"
      - $ref: "#/components/parameters/PortNumberPath"
      - $ref: "#/components/parameters/PortProtocolPath"
    get:
      operationId: getHostPort
      tags:
        - Hosts
        - ports
      description: >
        Retrieve a port for a host asset.
      x-mint:
        metadata:
          title: Get Port for Host Asset 
      responses:
        "200":
          $ref: "#/components/responses/SinglePort"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
    put:
      x-excluded: true
      operationId: putHostPort
      tags:
        - Hosts
        - ports
      description: >
        Upsert a port to a host asset. Will return 409 status if the asset
        is not a single host (i.e. a CIDR).
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        description: Port properties to upsert.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Port"
      responses:
        "200":
          $ref: "#/components/responses/SinglePort"
        "201":
          $ref: "#/components/responses/SinglePort"
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "412":
          $ref: "#/components/responses/412PreconditionFailed"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    patch:
      x-excluded: true
      operationId: patchHostPort
      tags:
        - Hosts
        - ports
      description: >
        Update properties of a port belonging a single-IP host asset.
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        description: Asset properties to patch.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortUpdate"
      responses:
        "200":
          $ref: "#/components/responses/SinglePort"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "412":
          $ref: "#/components/responses/412PreconditionFailed"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteHostPort
      tags:
        - Hosts
        - ports
      description: >
        Delete a port from a host asset. Will return 409 status if the asset
        is not a single host (i.e. a CIDR).
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/assets/{assetUid}/binaries/{version}:
    parameters:
      - $ref: "#/components/parameters/AssetUIDPath"
      - $ref: "#/components/parameters/ApplicationVersionPath"
    put:
      x-excluded: true
      operationId: putApplicationBinary
      tags:
        - mobileapps
      description: >
        Upsert an application binary file or the Url to the binary in the app store.
      requestBody:
        description: Application binary properties to patch.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicationBinary"
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "412":
          $ref: "#/components/responses/412PreconditionFailed"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteApplicationBinary
      tags:
        - mobileapps
      description: >
        Delete an application binary.
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/assets/{assetUid}/user-roles:
    parameters:
      - $ref: "#/components/parameters/AssetUIDPath"
    get:
      x-excluded: true
      operationId: getUserRoles
      tags:
        - mobileapps
        - webapps
        - userroles
      description: Gets a paginated list of all user roles for a mobile or
        web application. Returns a 409 status code if the asset is
        not one of these expected types.
      parameters:
        - $ref: "#/components/parameters/PerPageQuery"
        - $ref: "#/components/parameters/PageQuery"
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - name
              - scannable
              - createdAt
              - updatedAt
          description: Optional property to sort results by.
          required: false
        - $ref: "#/components/parameters/SortDirQuery"
        - $ref: "#/components/parameters/ScannableQuery"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedArrayOfUserRoles"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
            - asset_srt_lr
    post:
      x-excluded: true
      operationId: postUserRole
      tags:
        - mobileapps
        - webapps
        - userroles
      description:
        Adds a user role to a mobile or web application asset. Returns
        a 409 status code if the asset is not one of these expected types.
      requestBody:
        description: Mobile or web application user role to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRole"
      responses:
        "201":
          $ref: "#/components/responses/SingleUserRole"
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/user-roles/{userRoleUid}:
    parameters:
      - $ref: "#/components/parameters/UserRoleUIDPath"
    get:
      x-excluded: true
      operationId: getUserRole
      tags:
        - mobileapps
        - webapps
        - userroles
      description: Retrieves the properties of the supplied user role.
      responses:
        "200":
          $ref: "#/components/responses/SingleUserRole"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
            - asset_srt_lr
    patch:
      x-excluded: true
      operationId: patchUserRole
      tags:
        - mobileapps
        - webapps
        - userroles
      description:
        Patch properties of a user role for a mobile or web application asset.
        Will return a 409 status code if the type is not one of these expected
        types.
      requestBody:
        description: User role to patch.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRole"
      responses:
        "200":
          $ref: "#/components/responses/SingleUserRole"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteUserRole
      tags:
        - mobileapps
        - webapps
        - userroles
      description:
        Delete a user role from a mobile or web application asset. Will
        return a 409 status code if the type is not one of these expected
        types.
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/user-roles/{userRoleUid}/scripts/{scriptUid}:
    parameters:
      - $ref: "#/components/parameters/UserRoleUIDPath"
      - $ref: "#/components/parameters/ScriptUIDPath"
    patch:
      x-excluded: true
      operationId: patchUserRoleScript
      tags:
        - mobileapps
        - webapps
        - userroles
        - scripts
      description: Patch properties of a script that's been assigned to user role for a mobile or web application asset.
      requestBody:
        description: Updatable properties of a script to patch.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRoleScriptUpdate"
      responses:
        "200":
          $ref: "#/components/responses/SingleUserRoleScript"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/assets/{assetUid}/scope-rules:
    parameters:
      - $ref: "#/components/parameters/AssetUIDPath"
    get:
      x-excluded: true
      operationId: getScopeRules
      tags:
        - Hosts
        - webapps
        - scoperules
      description: Gets a list of all scope rules for a host or web application asset.
      parameters:
        - $ref: "#/components/parameters/PerPageQuery"
        - $ref: "#/components/parameters/PageQuery"
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - rule
              - appliesTo
              - createdAt
              - updatedAt
          description: Optional property to sort results by.
          required: false
        - $ref: "#/components/parameters/SortDirQuery"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedArrayOfScopeRules"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_srt_lr
    post:
      x-excluded: true
      operationId: postScopeRule
      tags:
        - Hosts
        - webapps
        - scoperules
      description: Adds a scope rule to a web application or host asset.
        Returns a 409 status code if the asset is not one of these expected types.
      requestBody:
        description: Host or web application scope rule to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScopeRule"
      responses:
        "201":
          $ref: "#/components/responses/SingleScopeRuleResponse"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/scope-rules/{scopeRuleUid}:
    parameters:
      - $ref: "#/components/parameters/ScopeRuleUIDPath"
    get:
      x-excluded: true
      operationId: getScopeRule
      tags:
        - Hosts
        - webapps
        - scoperules
      description: Retrieve a scope rule.
      responses:
        "200":
          $ref: "#/components/responses/SingleScopeRuleResponse"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
    patch:
      x-excluded: true
      operationId: patchScopeRule
      tags:
        - Hosts
        - webapps
        - scoperules
      description:
        Patch properties of a scope rule for a host asset with CIDRs or web application asset.
        Will return a 409 status code if the type is not one of these expected types.
      requestBody:
        description: Scope rule to patch.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScopeRuleUpdate"
      responses:
        "200":
          $ref: "#/components/responses/SingleScopeRuleResponse"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteScopeRule
      tags:
        - Hosts
        - webapps
        - scoperules
      description:
        Delete a scope rule from a host or web application asset. Will
        return a 409 status code if the type is not one of these expected
        types.
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/user-roles/{userRoleUid}/user-role-credentials:
    parameters:
      - $ref: "#/components/parameters/UserRoleUIDPath"
    get:
      x-excluded: true
      operationId: getUserRoleCredentials
      parameters:
        - $ref: "#/components/parameters/PerPageQuery"
        - $ref: "#/components/parameters/PageQuery"
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - status
              - createdAt
              - updatedAt
          description: Optional property to sort results by.
          required: false
        - $ref: "#/components/parameters/SortDirQuery"
        - in: query
          name: userUid
          schema:
            $ref: "#/components/schemas/UserUID"
          required: false
          description: Restricts the credentials to only those available to the user. This query parameter is ignored if the user is a researcher.
      tags:
        - mobileapps
        - webapps
        - credentials
        - userroles
      description: Gets the paginated credentials owned by the user role.
      responses:
        "200":
          $ref: "#/components/responses/PaginatedArrayOfUserRoleCredentials"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
            - asset_srt_lr
    post:
      x-excluded: true
      operationId: postUserRoleCredential
      tags:
        - mobileapps
        - webapps
        - credentials
        - userroles
      description:
        Add a credential to a user role. Returns 409 Conflict if the credentials
        do not match the structure of previously created credentials.
      requestBody:
        description: A single credential or an array of credentials.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SingleOrMultiUserRoleCredential"
      responses:
        "201":
          $ref: "#/components/responses/SingleOrMultiUserRoleCredentialResponse"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "413":
          $ref: "#/components/responses/413RequestEntityTooLarge"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    patch:
      x-excluded: true
      operationId: patchUserRoleCredentials
      tags:
        - mobileapps
        - webapps
        - credentials
        - userroles
      description:
        Update the properties of multlipe user role credentials. Returns 409
        Conflict when the credential format does not match existing
        credentials.
      requestBody:
        description: A single credential update or an array of multiple credential updates.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MultiUserRoleCredentialUpdate"
      responses:
        "200":
          $ref: "#/components/responses/MultiUserRoleCredentialResponse"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "413":
          $ref: "#/components/responses/413RequestEntityTooLarge"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

    delete:
      x-excluded: true
      operationId: deleteUserRoleCredentials
      tags:
        - mobileapps
        - webapps
        - credentials
        - userroles
      parameters:
        - $ref: "#/components/parameters/CredentialUIDQuery"
      description: Delete every credential belonging to the user role.
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "413":
          $ref: "#/components/responses/413RequestEntityTooLarge"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/user-role-credentials/{credentialUid}:
    parameters:
      - $ref: "#/components/parameters/CredentialUIDPath"
    delete:
      x-excluded: true
      operationId: deleteUserRoleCredential
      tags:
        - mobileapps
        - webapps
        - credentials
        - userroles
      description: Delete a user role credentialt.
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    patch:
      x-excluded: true
      operationId: patchUserRoleCredential
      tags:
        - credentials
        - mobileapps
        - webapps
        - userroles
      description:
        Patch the properties of a user-role credential. Returns 409 Conflict if the credentials
        do not match the structure of previously created credentials.
      requestBody:
        description: Credential assignment.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRoleCredentialUpdate"
      responses:
        "200":
          $ref: "#/components/responses/SingleUserRoleCredentialResponse"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/user-role-credentials/{credentialUid}/assigned-users/{userUid}:
    parameters:
      - $ref: "#/components/parameters/CredentialUIDPath"
      - $ref: "#/components/parameters/UserUIDPath"
    put:
      x-excluded: true
      operationId: putUserRoleCredentialUser
      tags:
        - credentials
        - mobileapps
        - webapps
        - userroles
        - users
      description:
        Assign a user to a user-role credential. Credentials with sharing of
        "one" will return a 409 status code when a request is received to add
        further users. Credentials with sharing of "all" will return a 409
        status code on any request to add users. There is not limit to the
        number of users that may be added for sharing of "many".
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteUserRoleCredentialUser
      tags:
        - credentials
        - mobileapps
        - webapps
        - userroles
        - users
      description: Remove a user from a user-role credential.
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/user-role-credentials:
    parameters:
      - in: query
        name: organizationUid
        schema:
          $ref: "#/components/schemas/OrganizationUID"
        required: true
        description: Unique identifier for an organization.
      - in: query
        name: listingUid
        schema:
          $ref: "#/components/schemas/ListingUID"
        required: true
        description: Unique identifier for a listing.
      - in: query
        name: userUid
        schema:
          $ref: "#/components/schemas/UserUID"
        required: true
        description: Unique identifier for a user.
    post:
      x-excluded: true
      operationId: assignUserRoleCredentialsToUser
      tags:
        - mobileapps
        - webapps
        - credentials
        - userroles
        - users
      description:
        Assign user role credentials to a user for mobile application or
        web application assets in a listing.
      responses:
        200:
          description: The assignments occurred successfully
        204:
          $ref: "#/components/responses/204NoContent"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
            - asset_srt_lr

  /v2/asset-relationships:
    post:
      x-excluded: true
      operationId: postAssetRelationship
      tags:
        - asset-relationships
      description: >
        Creates a relationship between two assets.
      requestBody:
        description: Assets to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SingleAssetRelationship"
      responses:
        "201":
          $ref: "#/components/responses/SingleAssetRelationshipResponse"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "409":
          $ref: "#/components/responses/409Conflict"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/asset-relationships/{assetRelationshipUid}:
    patch:
      x-excluded: true
      operationId: patchAssetRelationship
      tags:
        - asset-relationships
      parameters:
        - $ref: "#/components/parameters/AssetRelationshipUIDPath"
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        description: Asset relationship properties to update.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetRelationshipUpdate"
      description: >
        Updates a relationship between a two assets.
      responses:
        "200":
          $ref: "#/components/responses/SingleAssetRelationshipResponse"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteAssetRelationship
      tags:
        - asset-relationships
      parameters:
        - $ref: "#/components/parameters/AssetRelationshipUIDPath"
      description: >
        Deletes a relationship between a two assets.
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/external-relationships:
    post:
      x-excluded: true
      operationId: postExternalRelationship
      tags:
        - external-relationships
      description: Creates a relationship between asset in AssetService and an
        external service.
      requestBody:
        description: External relationship to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExternalRelationship"
      responses:
        "201":
          $ref: "#/components/responses/ExternalRelationshipResponse"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "409":
          $ref: "#/components/responses/409Conflict"
        "422":
          $ref: "#/components/responses/422EntityNotProcessable"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/external-relationships/{assetRelationshipUid}:
    patch:
      x-excluded: true
      operationId: patchExternalRelationship
      tags:
        - external-relationships
      parameters:
        - $ref: "#/components/parameters/AssetRelationshipUIDPath"
      requestBody:
        description: External relationship properties to update.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetRelationshipUpdate"
      description: Updates a relationship between a two assets.
      responses:
        "200":
          $ref: "#/components/responses/ExternalRelationshipResponse"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw
    delete:
      x-excluded: true
      operationId: deleteExternalRelationship
      tags:
        - external-relationships
      parameters:
        - $ref: "#/components/parameters/AssetRelationshipUIDPath"
      description: Deletes a relationship between a two assets.
      responses:
        "204":
          $ref: "#/components/responses/204NoContent"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gw
            - asset_client_ow
            - asset_boss_ow
            - asset_client_lw
            - asset_boss_lw

  /v2/asset-stats:
    get:
      operationId: getAssetStats
      tags:
        - Assets
        - cloudaccounts
        - Hosts
        - mobileapps
        - webapps
      description: >
        Returns active assets under test (in scope for a listing) and total active assets for the supplied organization and listings.
      x-mint:
        metadata:
          title: Get Asset Stats 
      parameters:
        - $ref: "#/components/parameters/SingleOrganizationUIDQuery"
        - $ref: "#/components/parameters/ListingUIDQuery"
      responses:
        "200":
          $ref: "#/components/responses/SingleAssetStat"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr

  /v2/organizations/{organizationUid}/discovered-assets:
    get:
      operationId: getDiscoveredAssetSummaries
      tags:
        - Assets
        - cloudaccounts
        - Hosts
        - mobileapps
        - networks
        - webapps
      description: >
        Retrieve the list summarized properties for discovered assets belonging
        to  an organization, considering filtering and pagination query
        parameters.

        Additional query parameters generally restrict the resulting set of
        assets according to AND semantics.
      x-mint:
        metadata:
          title: Get Discovered Assets 
      parameters:
        - $ref: "#/components/parameters/OrganizationUIDPath"
        - $ref: "#/components/parameters/ListingUIDQuery"
        - $ref: "#/components/parameters/AssetTypeQuery"
        - $ref: "#/components/parameters/HostTypeQuery"
        - in: query
          name: seedUid[]
          schema:
            $ref: "#/components/schemas/SeedUID"
          required: false
          description: Restrict the returned asset summaries to only those discovered from provided seed identifier.
        - in: query
          name: search
          schema:
            type: string
          required: false
          description: >
            Optional query parameter for a search string that will be used
            to match within the label or location properties of assets. If
            this query parameter is provided, any location query parameter
            will be ignored.
        - $ref: "#/components/parameters/PerPageQuery"
        - $ref: "#/components/parameters/PageQuery"
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - location
              - label
              - createdAt
              - updatedAt
              - lastReachableAt
          description: Optional property to sort results by.
          required: false
        - $ref: "#/components/parameters/SortDirQuery"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedDiscoveredAssetsResponse"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_or
            - asset_lr
            - asset_srt_lr
            - asset_scan_gr

  /v2/listing-webapps/{listingUid}:
    get:
      x-excluded: true
      operationId: getWebApps
      tags:
        - webapps
      description:
        Gets a list of active webapps with all their HTTPing settings,
        scope rules, session handling scripts, SRT credentials and credential user
        UIDs for the given listing. Used to generate input for TarantulaBurp and
        TarantulaBurpValidator plugins.
      parameters:
        - $ref: "#/components/parameters/ListingUIDPath"
      responses:
        "200":
          $ref: "#/components/responses/ArrayOfWebAppsResponse"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_scan_gr
            - asset_lr

  /v2/webapps/{assetUid}:
    get:
      x-excluded: true
      operationId: getWebApp
      tags:
        - webapps
      description:
        Gets a webapp with all assigned HTTPing settings, scope rules,
        session handling scripts, SRT credentials and credential user UIDs.
        Used to generate input for TarantulaBurp and TarantulaBurpValidator plugins.
      parameters:
        - $ref: "#/components/parameters/AssetUIDPath"
      responses:
        "200":
          $ref: "#/components/responses/WebApp"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "403":
          $ref: "#/components/responses/403Forbidden"
        "500":
          $ref: "#/components/responses/500InternalServerError"
        "503":
          $ref: "#/components/responses/503ServiceUnavailable"
      security:
        - OAuth2:
            - asset_gr
            - asset_scan_gr

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: "login.synack.com"
          scopes:
            #TODO review these scopes; especially if the asset service is no longer listing aware
            asset_lr: Grants per-listing read access for all types of assets.
            asset_srt_lr: Grants per-listing read access to assets that may be read by SRTs.
            asset_or: Grants organization-level read access for all types of assets owned by a particular organization.
            asset_boss_ow: Grants organization-level access to assets owned by a particular organization that may be modified by BOSS users.
            asset_boss_lw: Grants per-listing write access to assets that may be modified by BOSS users.
            asset_client_ow: Grants organization-level access to assets owned by a particular organization that may be modified by Client users.
            asset_client_lw: Grants per-listing write access to assets that may be modified by Client users.
            asset_user_or: Grants user-level read access to asset stats that owned by a particular organization.
            asset_gr: Grants unrestricted read access to all assets. Except for credential data of cloud accout assets.
            asset_gw: Grants unrestricted write access to all assets.
            asset_scan_gr: Grants unrestricted read access to all assets. Including credential data of cloud account assets.
  # types reference for proper client code generation by oapi-codegen
  schemas:
    WebRULE:
      type: string
      pattern: "^(/([a-zA-Z0-9_-~!$&'()+,;=:@.]|%[0-9a-fA-F]{2})+/)*(/?((([A-z]|[0-9]|[-_~])|%[0-9a-fA-F]{2}|[!$&'()*+,;=]|[:@])|[/?])*){0,1}//(#((([A-z]|[0-9]|[-_~.])|%[0-9a-fA-F]{2}|[!$&'()*+,;=]|[:@])|[/?])*){0,1}/?$"
      description: Rule for web asset validation
    AssetRelationshipType:
      type: string
      description: Type or relationship between assets.
      enum:
        - discoveredBy
    UID:
      type: string
      pattern: "^[0-9a-f]{12}"
      readOnly: true
      description: Unique Identifier.
    WHOIS:
      type: string
      description: Whois results.
    WHOISRequest:
      type: object
      description: Whois request data.
      properties:
        whois:
          $ref: "#/components/schemas/WHOIS"
    WHOISResponse:
      type: object
      description: Whois data.
      properties:
        whois:
          $ref: "#/components/schemas/WHOIS"
        asset_uid:
          $ref: "#/components/schemas/AssetUID"
    WritableUID:
      type: string
      pattern: "^[0-9a-f]{12}"
      description: Unique Identifier for POST/PATCH/PUT request bodies.
    OrganizationUID:
      type: string
      pattern: "^[-_0-9a-z]{1,50}"
      description: Unique identifier for an organization.
    ListingUID:
      type: string
      pattern: "^[-_0-9a-z]{1,50}"
      description: Unique identifier for an listing.
      readOnly: true
    AssetUID:
      type: string
      pattern: "^[0-9a-f]{24}"
      description: Unique identifier for an asset.
    ExternalUID:
      type: string
      pattern: "^[0-9a-zA-Z-_]{1,}$"
      description: Unique identifier for an external entity. It has much more
        loose requirements than AssetUID since in general we don't control
        these external services.
    CredentialUID:
      type: string
      pattern: "^[0-9a-f]{12}"
      description: Unique identifier for a credential.
    ScriptUID:
      type: string
      pattern: "^[0-9a-f]{12}"
      description: Unique identifier for a credential.
    UserUID:
      type: string
      pattern: "^[-_0-9a-z]{1,100}"
      description: Unique identifier for a user.
    UserRoleUID:
      type: string
      pattern: "^[0-9a-f]{12}"
      description: Unique identifier for a mobile or web application user role.
      readOnly: true
    OperationUserUID:
      type: string
      pattern: "^[0-9a-f]{12}"
      readOnly: true
      description:
        Automatically set by the server to the requesting user whenever the
        resource is updated. May be a user account or a service account if
        the action is performed by an automated.
    AssetRelationshipUID:
      type: string
      pattern: "^[0-9a-f]{12}"
      description: Unique identifier for a scan.
    SeedUID:
      type: string
      pattern: "^[-_0-9a-z]{1,50}"
      description: Unique identifier for an E-ASM seed.
      readOnly: true
    Base64Data:
      type: string
      description: Base64 encoding of data.
      example: "TXkgdm9pY2UgaXMgbXkgcGFzc3dvcmQu"
    GatewayID:
      type: string
      pattern: "^[0-9a-f]{16}"
      description: Identifier for Launchpoint-managed VPN gateway.
    CredentialSharing:
      type: string
      description: Determines the limits on users that may be assigned; "one"
        permits only one user to be assigned, "many" places no
        limit, and "all" prevents any users to explicitly assigned
        as all users are implicitly allowed to use the credential.
      enum:
        - one
        - many
        - all
    Creatable:
      type: object
      required:
        - createdAt
        - createdBy
      properties:
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: Automatically set by the server to the time the request was processed whenever the resource was created.
        createdBy:
          $ref: "#/components/schemas/OperationUserUID"

    Updatable:
      allOf:
        - $ref: "#/components/schemas/Creatable"
        - type: object
          properties:
            updatedAt:
              type: string
              format: date-time
              readOnly: true
              description: Automatically set by the server to the time the request was processed whenever the resource is updated.
            updatedBy:
              $ref: "#/components/schemas/OperationUserUID"

    AssetGateway:
      type: object
      description: Gateways and listings the asset is assigned to.
      properties:
        gatewayId:
          $ref: "#/components/schemas/GatewayID"
        listingUid:
          $ref: "#/components/schemas/ListingUID"

    GatewayAsset:
      allOf:
        - $ref: "#/components/schemas/AssetGateway"
        - type: object
          description: Assignment of an asset to a gateway
          properties:
            assetUid:
              $ref: "#/components/schemas/AssetUID"

    AssetListing:
      type: object
      description: Listings the asset is assigned to.
      properties:
        listingUid:
          $ref: "#/components/schemas/ListingUID"
        scope:
          $ref: "#/components/schemas/Scope"
        scopeRules:
          description: Out of scope locations for this asset.
          type: array
          items:
            $ref: "#/components/schemas/ScopeRule"
        createdAt:
          type: string
          format: date-time
          readOnly: true
          description: Automatically set by the server to the time the listing asset association was created.
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          description: Automatically set by the server to the time the listing asset association is updated.

    ListingAsset:
      allOf:
        - $ref: "#/components/schemas/AssetListing"
        - type: object
          description: Assignment of an asset to a listing.
          properties:
            assetUid:
              $ref: "#/components/schemas/AssetUID"

    Scope:
      description: >
        Set to _in_-scope means automated and manual testing _should_ occur;
        _out_-of-scope means automated and manual testing _must not_ occur;
        _discovered_ means observed through automated discovery and may be
        automatically removed if not observed again during subseqent discovery
        activities.
      type: string
      enum:
        - in
        - out
        - discovered
        - blocked

    BulkListingAsset:
      type: object
      description: Asset UIDs to associate to and/or remove from a listing.
      properties:
        add:
          type: array
          description: Asset UIDs to associate to the listing.
          items:
            $ref: "#/components/schemas/ListingAsset"
        remove:
          type: array
          description: Asset UIDs to remove from the listing.
          items:
            $ref: "#/components/schemas/AssetUID"

    ArrayOfAssets:
      type: array
      items:
        $ref: "#/components/schemas/SingleAsset"

    GatewayIDInput:
      type: object
      required:
        - gatewayId
      description: Gateway ID to associate or remove from a listing.
      properties:
        gatewayId:
          $ref: "#/components/schemas/GatewayID"

    SingleOrMultiAsset:
      oneOf:
        - $ref: "#/components/schemas/SingleAsset"
        - type: array
          items:
            $ref: "#/components/schemas/SingleAsset"

    SingleAsset:
      oneOf:
        - $ref: "#/components/schemas/CloudAccountAsset"
        - $ref: "#/components/schemas/HostAsset"
        - $ref: "#/components/schemas/MobileApplicationAsset"
        - $ref: "#/components/schemas/NetworkAsset"
        - $ref: "#/components/schemas/WebApplicationAsset"
      discriminator:
        propertyName: assetType
        mapping:
          cloudaccount: "#/components/schemas/CloudAccountAsset"
          host: "#/components/schemas/HostAsset"
          mobileapp: "#/components/schemas/MobileApplicationAsset"
          network: "#/components/schemas/NetworkAsset"
          webapp: "#/components/schemas/WebApplicationAsset"

    LifecycleUpdateCount:
      type: object
      properties:
        updatedCount:
          type: integer
          description: Number of assets updated.
          default: 0

    CriticalityUpdateCount:
      type: object
      properties:
        updatedCount:
          type: integer
          description: Number of assets updated.
          default: 0

    Asset:
      allOf:
        - type: object
          required:
            - assetType
            - origin
            - organizationUid
          properties:
            uid:
              $ref: "#/components/schemas/UID"
            organizationUid:
              $ref: "#/components/schemas/OrganizationUID"
            location:
              type: string
              readOnly: true
              description: Derived human-readable text representation of the asset, based on assetType and other properties.
            assetType:
              $ref: "#/components/schemas/AssetType"
              description: Derived from the properties associated with the asset.
            inProduction:
              type: boolean
              description: Indicates whether the asset resides in a production environment.
              default: true
            active:
              description:
                Active assets may participate in listings. When inactive, the
                asset is essentially soft-deleted and may not be scanned or
                subject to new research by SRT.
              type: boolean
              default: true
            label:
              type: string
              description: Optional label for the asset. If present, label is part of the derived property of asset location, which enables creation of multiple assets with different labels under a single organization.
            description:
              type: string
              description: Optional description for the asset.
            origin:
              $ref: "#/components/schemas/AssetOrigin"
            lifecycleState:
              $ref: "#/components/schemas/AssetLifecycleState"
            criticality:
              $ref: "#/components/schemas/AssetCriticality"
            changeStatus:
              $ref: "#/components/schemas/AssetChangeStatus"
            anyListingActive:
              type: boolean
              description:
                This field is used for scheduling Fingerprinting scans.
                A calculated field based on if the asset has any listings in which it is
                active. This field is read only and relates only to assets created after Apr 1 2023.
              default: false
            anyListingActiveWithin2Years:
              type: boolean
              description:
                This field is used for scheduling Fingerprinting scans.
                A calculated field based on if the asset has any active listings or listings
                deactivated less than 2 years ago. This field is read only and relates only to assets
                created prior to Apr 1 2023.
              default: false
            scanStateUpdatedAt:
              type: string
              format: date-time
              description: The date time the scan state was updated.
            lastCheckedAt:
              type: string
              format: date-time
              description: The last date time the asset was checked.
            lastReachableAt:
              type: string
              format: date-time
              description: The last date time the asset was successfully checked for reachability.
            lastSuccessfulScan:
              type: string
              format: date-time
              description: The last date time the asset scan was successful.
            lastFailedScan:
              type: string
              format: date-time
              description: The last date time the asset scan was failed.
            firstSeen:
              type: string
              format: date-time
              description: >
                For assets with an origin of discovered. The date time when the
                asset was first discovered.
            lastSeen:
              type: string
              format: date-time
              description: >
                For assets with an origin of discovered. The date time when the
                asset was last discovered or fingerprinted.
            status:
              $ref: "#/components/schemas/CheckerStatus"
            errorCode:
              $ref: "#/components/schemas/ErrorCode"
            listings:
              description: Array of listings the asset belongs to.
              readOnly: true
              type: array
              items:
                $ref: "#/components/schemas/AssetListing"
            scopeRules:
              description: Rules that modify the scope of security research for this asset.
              readOnly: true
              type: array
              items:
                $ref: "#/components/schemas/ScopeRuleSummary"
            relationships:
              description: Relationships which this asset participates in, either as a source or as a target.
              readOnly: true
              type: array
              items:
                $ref: "#/components/schemas/SingleAssetRelationship"
            sourceRelationships:
              description: Relationships which have this asset as a source (SourceAssetID and SourceAssetUID will be set automatically). This property is only available in the postAssetBulk request body and is not returned as part of any responses.
              writeOnly: true
              type: array
              items:
[...]
