openapi: 3.0.3
info:
  title: Synack API
  version: 2.0.0
  description: |
    Comprehensive API for Synack's security testing platform, providing endpoints for managing assessments, vulnerabilities, users, and security testing operations.
  contact:
    name: Synack Engineering
    email: engineering@synack.com
  license:
    name: Proprietary
servers:
  - url: https://api.synack.com
    description: Commercial - V1 API
  - url: https://api.synack.us
    description: FedRAMP (Medium) - V1 API

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    BasicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Auth

  schemas:
    ProblemDetails:
      type: object
      required:
        - type
        - title
        - organization
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
        title:
          type: string
          description: A short, human-readable summary of the problem type
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
        organization:
          type: string
          description: The organization UID associated with the problem

    ValidationProblemDetails:
      allOf:
        - $ref: '#/components/schemas/ProblemDetails'
        - type: object
          required:
            - invalidParams
          properties:
            invalidParams:
              type: array
              items:
                $ref: '#/components/schemas/ProblemDetailsSubProblem'

    ProblemDetailsSubProblem:
      type: object
      required:
        - name
        - reason
      properties:
        name:
          type: string
          description: The parameter name that caused the validation error
        reason:
          type: string
          description: The reason why the parameter is invalid

    Errors:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'

    Error:
      type: object
      required:
        - key
        - title
        - status
      properties:
        key:
          type: string
          description: Machine-readable kind of the error
          example: invalid_parameter
        title:
          type: string
          example: Invalid parameter
        status:
          type: integer
          description: HTTP status of the response
          example: 400
        detail:
          type: string
          description: What went wrong, naming the parameter for a validation error
          example: name is required

    Assessment:
      type: object
      required:
        - id
        - name
        - codename
        - category
        - active
        - created_at
        - tag_ids
        - authentication_self_registration_enabled
      properties:
        id:
          type: string
          description: ID of the assessment
          example: foobar-123
        name:
          type: string
          example: Customer portal
        codename:
          type: string
          example: ACMEALPHA
        description:
          type: string
          nullable: true
        details:
          type: string
          nullable: true
        category:
          type: string
          description: Type of the assessment
          example: Web Application
        active:
          type: boolean
          description: Whether the assessment is open for testing
        rules:
          type: string
          nullable: true
          description: Rules of engagement of the assessment
        updates:
          type: array
          description: Updates posted to the researchers
          items:
            type: object
            properties:
              message:
                type: string
              created_at:
                type: integer
                description: Unix timestamp of the update
        created_at:
          type: string
          format: date-time
        tag_ids:
          type: array
          items:
            type: integer
        authentication_self_registration_enabled:
          type: boolean
          description: Whether researchers may register their own accounts for authenticated testing

    TestCounts:
      type: object
      required:
        - pending
        - scheduled
        - active
        - paused
        - completed
      properties:
        pending:
          type: integer
          minimum: 0
        scheduled:
          type: integer
          minimum: 0
        active:
          type: integer
          minimum: 0
        paused:
          type: integer
          minimum: 0
        completed:
          type: integer
          minimum: 0

    Tag:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        editable:
          type: boolean
        organization_profile_id:
          type: integer

    OwnerContact:
      type: object
      required:
        - id
        - name
        - email
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string

    Vulnerability:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        severity:
          type: string
          enum: [Critical, High, Medium, Low, Informational]
        status:
          type: string
        cvss_score:
          type: number
          format: float
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'

    SuspectedVulnerability:
      type: object
      properties:
        id:
          type: integer
        asset_uid:
          type: string
        category_in_scope:
          type: boolean
        confidence:
          type: number
          format: float
        cvss_base:
          type: number
          format: float
        exploitable_locations:
          type: array
          items:
            type: string
        false_positive:
          type: boolean
        created_at:
          type: string
          format: date-time
        last_detected_at:
          type: string
          format: date-time
        payload:
          type: object
        reference_urls:
          type: array
          items:
            type: string
        severity:
          type: string
        source:
          type: string
        status:
          type: string
        vulnerability_status_id:
          type: integer
        reason_title:
          type: string
        reason_description:
          type: string
        organization_profile_id:
          type: integer
        automated_triage_status:
          type: string
        automated_triage_status_updated_at:
          type: string
          format: date-time

    CommentUser:
      required:
      - email
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          description: name of the user
        email:
          type: string
          description: e-mail address of the user

    User:
      required:
      - assessment_ids
      - banned
      - email
      - id
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
          description: e-mail address of the user
        assessment_ids:
          type: array
          description: IDs of assessments the user has access to
          items:
            type: string
        admin:
          type: boolean
          description: boolean flag to indicate whether the user has admin privileges
            (only visible to admin
        invite_url:
          type: string
          description: invitation URL (only visible to admins)
        banned:
          type: boolean
          description: boolean flag to indicate whether the user has been banned

    Attachment:
      type: object
      properties:
        id:
          type: integer
        filename:
          type: string
        content_type:
          type: string
        file_size:
          type: integer
        created_at:
          type: string
          format: date-time

    PaginationMetadata:
      type: object
      required:
        - total
        - page
        - perPage
        - totalPages
        - first
        - last
        - self
      properties:
        total:
          type: integer
          minimum: 0
        page:
          type: integer
          minimum: 1
        perPage:
          type: integer
          minimum: 1
        totalPages:
          type: integer
          minimum: 0
        first:
          type: string
          format: uri
        last:
          type: string
          format: uri
        self:
          type: string
          format: uri
        prev:
          type: string
          format: uri
        next:
          type: string
          format: uri

    AssessmentStats:
      type: object
      properties:
        tests:
          type: integer
        averageRemediationDays:
          type: integer
        vulnerabilities:
          $ref: '#/components/schemas/VulnerabilityCounts'
        missions:
          $ref: '#/components/schemas/MissionCounts'
        coverage:
          $ref: '#/components/schemas/CoverageData'

    VulnerabilityCounts:
      type: object
      properties:
        inReview:
          type: integer
        accepted:
          type: integer
        acceptedOpen:
          type: integer

    MissionCounts:
      type: object
      properties:
        active:
          type: integer
        completed:
          type: integer

    CoverageData:
      type: object
      properties:
        pageHits:
          type: integer
        classifiedTraffic:
          type: integer

    Test:
      type: object
      required:
        - id
        - type
        - status
        - draft_status
        - planned_start_date
        - planned_end_date
        - actual_start_date
        - actual_end_date
      properties:
        id:
          type: integer
          format: int64
          description: ID of the test
        type:
          type: string
          description: Name of the test plan
          example: Synack14
        status:
          type: string
          enum: [planned, active, ended]
          description: Whether the test has started and ended
        draft_status:
          type: string
          enum: [draft, in_admin_review, in_synack_review, needs_more_info, completed]
          description: Review status of the test, completed once the test is approved
        planned_start_date:
          type: string
          format: date-time
        planned_end_date:
          type: string
          format: date-time
        actual_start_date:
          type: string
          format: date-time
          nullable: true
        actual_end_date:
          type: string
          format: date-time
          nullable: true

    TestPlan:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          enum: [Synack365, Synack90, Synack14, SynackAPIPentest, SynackST, SynackST+, Sara Pentest, Sara Pentest+]
          description: Name of the test plan, accepted as test_plan when creating a test and returned as type on a test
          example: Synack14

    OneTimeOutageWindow:
      type: object
      description: A single pause in testing
      required:
        - type
        - start_date
        - end_date
      properties:
        type:
          type: string
          enum: [one_time]
        start_date:
          type: string
          format: date-time
          description: When the pause begins, at least 5 minutes in the future
          example: '2030-01-10T22:00:00-05:00'
        end_date:
          type: string
          format: date-time
          description: When the pause ends, after start_date
          example: '2030-01-11T02:00:00-05:00'

    RecurringOutageWindow:
      type: object
      description: A pause in testing that repeats from start_time to end_time on each of its weekdays between first_day and last_day. The first pause must begin at least 5 minutes in the future and a second pause must begin by last_day; a single pause is a one_time window.
      required:
        - type
        - weekdays
        - start_time
        - end_time
        - first_day
        - last_day
      properties:
        type:
          type: string
          enum: [recurring]
        weekdays:
          type: array
          minItems: 1
          uniqueItems: true
          description: Days of the week a pause begins on, each at most once
          items:
            type: string
            enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday]
          example: [monday, tuesday, wednesday, thursday, friday]
        start_time:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          description: Clock time each pause begins, as HH:MM
          example: '22:00'
        end_time:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          description: Clock time each pause ends, as HH:MM. A time at or before start_time ends the pause on the following day.
          example: '02:00'
        utc_offset:
          type: string
          pattern: '^[+-](0\d|1[0-4]):[0-5]\d$'
          default: '+00:00'
          description: Fixed UTC offset the weekdays, times and days are given in. The schedule keeps this offset for its whole span and does not follow daylight saving changes.
          example: '-05:00'
        first_day:
          type: string
          format: date
          description: First day a pause can begin on
          example: '2030-01-07'
        last_day:
          type: string
          format: date
          description: Last day a pause can begin on, not before first_day
          example: '2030-01-21'

    Comment:
      type: object
      properties:
        id:
          type: integer
        text:
          type: string
        type:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/CommentUser'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'

    PatchVerification:
      type: object
      properties:
        id:
          type: integer
        message:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/User'

    OrganizationProfile:
      type: object
      properties:
        id:
          type: integer
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
        created_at:
          type: string
          format: date-time

    AssessmentGroup:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        created_at:
          type: string
          format: date-time

paths:
  # V1 API - Listings/Assessments
  /v1/assessments:
    get:
      operationId: getAssessments
      summary: Get assessments (V1)
      description: Retrieve a list of assessments for the current user's organization
      tags:
        - Assessments
      parameters:
        - name: assessment_group_id
          in: query
          schema:
            type: integer
          description: Filter by assessment group ID
      responses:
        '200':
          description: Assessments retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Assessment'
        '400':
          description: Bad request

    post:
      operationId: createAssessment
      summary: Create an assessment (V1)
      description: |
        Create an assessment in one of the assessment groups of the organization of the caller.
        Assets are referenced by the uid the asset API returns for them, and are in scope unless marked out of scope.
        Tags are created when no tag of that name exists yet.
        Requires the permission to create assessments in the group, and assessment creation enabled for the organization.
      tags:
        - Assessments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - category
                - assessment_group_id
                - assets
              properties:
                name:
                  type: string
                  minLength: 5
                  maxLength: 100
                  description: Name of the assessment
                  example: Customer portal
                category:
                  type: string
                  enum: [Web Application, Host, API]
                  description: Type of the assessment. API assessments need API testing enabled for the organization.
                assessment_group_id:
                  type: integer
                  description: ID of the assessment group to create the assessment in
                  example: 123
                assets:
                  type: array
                  minItems: 1
                  description: Assets to test
                  items:
                    type: object
                    required:
                      - uid
                    properties:
                      uid:
                        type: string
                        description: UID of the asset, as returned by the asset API
                        example: asset-uid-123
                      scope:
                        type: string
                        enum: [in, out]
                        default: in
                        description: Whether the asset is in or out of scope
                description:
                  type: string
                  description: Description of the assessment
                authentication_self_registration_enabled:
                  type: boolean
                  default: false
                  description: Whether researchers may register their own accounts for authenticated testing
                tag_names:
                  type: array
                  items:
                    type: string
                  description: Names of the tags to put on the assessment
                  example: [production]
      responses:
        '201':
          description: The created assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
        '400':
          description: A parameter is missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: The user is not allowed to create assessments in the assessment group
        '404':
          description: Assessment creation is not enabled for the organization
        '422':
          description: The assessment could not be created, for example because its assets could not be assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'

  /v1/assessments/{id}:
    get:
      operationId: getAssessment
      summary: Get a specific assessment (V1)
      description: Retrieve details of a specific assessment
      tags:
        - Assessments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Assessment ID
      responses:
        '200':
          description: Assessment retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Assessment'
                  - type: object
                    properties:
                      researcher_count:
                        type: integer
                        description: Number of researchers with access to the assessment
        '404':
          description: Assessment not found

  /v1/assessments/{id}/testing_hours:
    get:
      operationId: getAssessmentTestingHours
      summary: Get testing hours for an assessment
      description: Retrieve testing hours statistics for a specific assessment
      tags:
        - Assessments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Assessment ID
      responses:
        '200':
          description: Testing hours retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  stats_total:
                    type: integer
                  from:
                    type: string
                    format: date-time
                  to:
                    type: string
                    format: date-time

  "/v1/assessments/{id}/updates":
    post:
      summary: Create new assessment update that is visible to researchers
      description: Post a new update for the assessment
      x-mint:
        metadata:
          title: Create Update for Assessment 
      tags:
        - Assessments
      parameters:
        - name: id
          in: path
          description: UID of the assessment
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Message you want to pass to the researchers
                  minLength: 10
              required:
                - message
      responses:
        '201':
          description: Assessment update created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Message of the created update
                  assessment_id:
                    type: string
                    description: ID of the listing the update was created for
                required:
                  - message
                  - assessment_id
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '403':
          description: Forbidden - user does not have permission to update this assessment
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '404':
          description: Assessment not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
  # V1 API - Tests
  /v1/assessments/{assessment_id}/tests:
    get:
      operationId: getAssessmentTests
      summary: Retrieve all tests on an assessment
      description: Retrieve tests associated with a specific assessment
      tags:
        - Tests
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the assessment
      responses:
        '200':
          description: A list of tests on the assessment
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Test'
        '403':
          description: The user is missing sufficient privileges
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '404':
          description: No assessment matched the given ID
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"

    post:
      operationId: createTest
      summary: Create a test on an assessment
      description: |
        Create a test on an assessment. The test runs from the start of its planned start date for the duration of its plan,
        and is submitted for review unless created as a draft. Warning order contacts must be users with access to the organization.
        Requires the permission to update the assessment, and assessment creation enabled for the organization.
      tags:
        - Tests
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the assessment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - test_plan
                - planned_start_date
              properties:
                name:
                  type: string
                  description: Name of the test
                  example: Quarterly penetration test
                test_plan:
                  type: string
                  enum: [Synack365, Synack90, Synack14, SynackAPIPentest, SynackST, SynackST+, Sara Pentest, Sara Pentest+]
                  description: |
                    Name of the test plan, one of those the test plans operation returns for the organization.
                    SynackAPIPentest is for API assessments and every other plan for assessments of the other categories.
                    Sara Pentest and Sara Pentest+ need SmartScan enabled and an assessment without a gateway.
                planned_start_date:
                  type: string
                  format: date
                  description: Date the test starts on, at the earliest the next business day
                  example: '2030-01-07'
                draft:
                  type: boolean
                  default: false
                  description: Whether to keep the test as a draft instead of submitting it for review
                test_objective:
                  type: string
                  description: Objective of the test
                known_vulnerabilities:
                  type: string
                  description: Vulnerabilities already known on the assets under test
                smartscan_enabled:
                  type: boolean
                  default: true
                  description: Whether SmartScan runs for the duration of the test, always the case on Sara Pentest and Sara Pentest+
                roes:
                  type: array
                  description: Rules of engagement of the test
                  items:
                    type: object
                    required:
                      - description
                    properties:
                      description:
                        type: string
                        example: No testing of the payment provider
                warning_order_contacts:
                  type: array
                  maxItems: 30
                  uniqueItems: true
                  description: Email addresses of the users to send the warning order to, each a user with access to the organization, listed at most once regardless of letter case
                  items:
                    type: string
                    format: email
                outage_windows:
                  type: array
                  description: Periods during which testing pauses, each one-time or recurring
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/OneTimeOutageWindow'
                      - $ref: '#/components/schemas/RecurringOutageWindow'
                    discriminator:
                      propertyName: type
                      mapping:
                        one_time: '#/components/schemas/OneTimeOutageWindow'
                        recurring: '#/components/schemas/RecurringOutageWindow'
      responses:
        '201':
          description: The created test, with its review status as draft_status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        '400':
          description: A parameter is missing or invalid, or the test overlaps with another test on the assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: The user is not allowed to create tests on the assessment
        '404':
          description: No assessment matched the given ID, or test creation is not enabled for the organization
        '422':
          description: The test could not be submitted for review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'

  /v1/assessments/{assessment_id}/tests/{id}/approve:
    post:
      operationId: approveTest
      summary: Approve a test (as a super admin)
      description: |
        Approve a test as a super admin, transitioning it from Admin Review to Synack Review status.
        The test must be in Admin Review status.
      tags:
        - Tests
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the assessment
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the test
      responses:
        '200':
          description: The approved test
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        '403':
          description: The user is missing sufficient privileges or the feature is not enabled
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '404':
          description: No assessment or test matched the given ID
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '409':
          description: Test is not in Admin Review status
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '422':
          description: Failed to approve the test
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"

  /v1/assessments/{assessment_id}/tests/{id}/reject:
    post:
      operationId: rejectTest
      summary: Reject a test (as a super admin)
      description: |
        Reject a test as a super admin, returning it to draft status.
        The test must be in Admin Review status.
      tags:
        - Tests
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the assessment
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the test
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                super_admin_reject_reason:
                  type: string
                  description: Reason for rejection (optional, sent back to the test submitter)
      responses:
        '200':
          description: The rejected test (returned to draft status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Test'
        '403':
          description: The user is missing sufficient privileges or the feature is not enabled
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '404':
          description: No assessment or test matched the given ID
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '409':
          description: Test is not in Admin Review status
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '422':
          description: Failed to reject the test
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
  # V1 API - Test Plans
  /v1/test_plans:
    get:
      operationId: getTestPlans
      summary: Get the test plans available to the organization
      description: |
        Retrieve the test plans the organization of the caller can schedule a test on.
        The name of a plan is the value accepted as test_plan when creating a test, and returned as type on a test.
      tags:
        - Test Plans
      responses:
        '200':
          description: The test plans available to the organization
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TestPlan'
        '403':
          description: The user is missing sufficient privileges
        '404':
          description: Test creation is not enabled for the organization

  # V1 API - Vulnerabilities
  /v1/vulnerabilities:
    get:
      operationId: getVulnerabilities
      summary: Get vulnerabilities
      description: Retrieve a paginated list of vulnerabilities with filtering options
      tags:
        - Vulnerabilities
      parameters:
        - name: filter[search]
          in: query
          schema:
            type: string
          description: Search term for vulnerabilities
        - name: filter[status_id]
          in: query
          schema:
            type: integer
          description: Filter by vulnerability status ID
        - name: filter[updated_within]
          in: query
          schema:
            type: integer
          description: Filter by vulnerabilities updated within specified seconds
        - name: filter[updated_since]
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by vulnerabilities updated since specified date
        - name: filter[include_attachments]
          in: query
          schema:
            type: boolean
          description: Include vulnerability attachments
        - name: page[number]
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: page[size]
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 50
          description: Page size
      responses:
        '200':
          description: Vulnerabilities retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vulnerability'
        '400':
          description: Bad request

  /v1/vulnerabilities/{id}:
    get:
      operationId: getVulnerability
      summary: Get a specific vulnerability
      description: Retrieve details of a specific vulnerability
      tags:
        - Vulnerabilities
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Vulnerability ID
      responses:
        '200':
          description: Vulnerability retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vulnerability'
        '404':
          description: Vulnerability not found

    patch:
      operationId: updateVulnerability
      summary: Update a vulnerability
      description: Update a specific vulnerability's status or tags
      tags:
        - Vulnerabilities
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Vulnerability ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status_id:
                  type: integer
                  description: New vulnerability status ID
                tags:
                  type: array
                  items:
                    type: integer
                  description: Array of tag IDs
                tag_list:
                  type: array
                  items:
                    type: string
                  description: Array of tag names
      responses:
        '200':
          description: Vulnerability updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vulnerability'
        '400':
          description: Bad request
        '404':
          description: Vulnerability not found
        '422':
          description: Unprocessable entity

  # V1 API - Suspected Vulnerabilities
  /v1/suspected_vulnerabilities/{id}:
    patch:
      operationId: updateSuspectedVulnerability
      summary: Update a suspected vulnerability
      description: Update a specific suspected vulnerability's status
      tags:
        - Suspected Vulnerabilities
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Suspected vulnerability ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vulnerability_status_id
              properties:
                vulnerability_status_id:
                  type: integer
                  description: New vulnerability status ID
      responses:
        '200':
          description: Suspected vulnerability updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuspectedVulnerability'
        '400':
          description: Bad request
        '404':
          description: Suspected vulnerability not found

  # V1 API - Vulnerability Comments
  /v1/vulnerabilities/{vulnerability_id}/comments:
    get:
      operationId: getVulnerabilityComments
      summary: Get vulnerability comments
      description: Retrieve comments for a specific vulnerability
      tags:
        - Comments
      parameters:
        - name: vulnerability_id
          in: path
          required: true
          schema:
            type: string
          description: Vulnerability ID
      responses:
        '200':
          description: Comments retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        '404':
          description: Vulnerability not found

    post:
      operationId: createVulnerabilityComment
      summary: Create a vulnerability comment
      description: Create a new comment for a specific vulnerability
      tags:
        - Comments
      parameters:
        - name: vulnerability_id
          in: path
          required: true
          schema:
            type: string
          description: Vulnerability ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Comment text
                type:
                  type: string
                  description: Comment type
      responses:
        '201':
          description: Comment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Bad request
        '404':
          description: Vulnerability not found

  # V1 API - Vulnerability Patch Verifications
  /v1/vulnerabilities/{vulnerability_id}/patch_verifications:
    get:
      operationId: getVulnerabilityPatchVerifications
      summary: Get vulnerability patch verifications
      description: Retrieve patch verification requests for a specific vulnerability
      tags:
        - Patch Verifications
      parameters:
        - name: vulnerability_id
          in: path
          required: true
          schema:
            type: string
          description: Vulnerability ID
      responses:
        '200':
          description: Patch verifications retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PatchVerification'
        '404':
          description: Vulnerability not found

    post:
      operationId: createVulnerabilityPatchVerification
      summary: Create a vulnerability patch verification
      description: Create a new patch verification request for a specific vulnerability
      tags:
        - Patch Verifications
      parameters:
        - name: vulnerability_id
          in: path
          required: true
          schema:
            type: string
          description: Vulnerability ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: Patch verification message
      responses:
        '201':
          description: Patch verification created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchVerification'
        '400':
          description: Bad request
        '404':
          description: Vulnerability not found

  # V1 API - Users
  /v1/users/whoami:
    get:
      operationId: getCurrentUser
      summary: Get current user information
      description: Retrieve information about the currently authenticated user
      tags:
        - Users
      responses:
        '200':
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized

  # V1 API - Assessment Groups
  /v1/assessment_groups:
    get:
      operationId: getAssessmentGroups
      summary: Get assessment groups
      description: Retrieve a list of assessment groups
      tags:
        - Assessment Groups
      responses:
        '200':
          description: Assessment groups retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssessmentGroup'
        '401':
          description: Unauthorized

  /v1/assessment_groups/{id}:
    get:
      operationId: getAssessmentGroup
      summary: Get a specific assessment group
      description: Retrieve details of a specific assessment group
      tags:
        - Assessment Groups
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Assessment group ID
      responses:
        '200':
          description: Assessment group retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentGroup'
        '404':
          description: Assessment group not found
          
          

  # V1 API - Vulnerability Tags
  /v1/vulnerability_tags:
    get:
      operationId: getVulnerabilityTags
      summary: Get vulnerability tags
      description: Retrieve a list of vulnerability tags
      tags:
        - Tags
      responses:
        '200':
          description: Vulnerability tags retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '401':
          description: Unauthorized

    post:
      operationId: createVulnerabilityTag
      summary: Create a vulnerability tag
      description: Create a new vulnerability tag
      tags:
        - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Name of the tag
      responses:
        '201':
          description: Tag created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: Bad request

  /v1/vulnerability_tags/{id}:
    put:
      operationId: updateVulnerabilityTag
      summary: Update a vulnerability tag
      description: Update an existing vulnerability tag
      tags:
        - Tags
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Tag ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New name for the tag
      responses:
        '200':
          description: Tag updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: Bad request
        '404':
          description: Tag not found
    delete:
      operationId: deleteVulnerabilityTag
      summary: Delete a vulnerability tag
      description: Delete a vulnerability tag
      tags:
        - Tags
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Tag ID
      responses:
        '204':
          description: Tag deleted successfully
        '404':
          description: Tag not found

  # V1 API - Vulnerability Statuses
  /v1/vulnerability_statuses:
    get:
      operationId: getVulnerabilityStatuses
      summary: Get vulnerability statuses
      description: Retrieve a list of available vulnerability statuses
      tags:
        - Vulnerability Statuses
      responses:
        '200':
          description: Vulnerability statuses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
        '401':
          description: Unauthorized

          
  "/v1/assessment_tags":
    get:
      summary: Retrieve a list of assessments tags
      description: Retrieve all assessments tags defined by your organization including the number of assessments they are associated with.
      tags:
        - Tags
      responses:
        '200':
          description: A list of organization's assessments tags
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                    name:
                      type: string
                      description: custom assessment tag
                    count:
                      type: integer
                      format: int64
                      description: number of assessments the tag is associated with
                  required:
                    - id
                    - name
                    - count
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"

    post:
      summary: Create a new assessment tag
      description: Create a new tag and associate it with an assessment. Only organization admins are able to create new tags.
      tags:
        - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the tag
                assessment_id:
                  type: string
                  description: ID of the assessment to tag
              required:
                - name
                - assessment_id
      responses:
        '201':
          description: The newly created tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  name:
                    type: string
                    description: custom assessment tag
                required:
                  - id
                  - name
        '400':
          description: Tag name is missing or is invalid (e.g. exists already)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '404':
          description: Requesting party is missing admin privileges or assessment not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '422':
          description: Tag creation failed unexpectedly
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"

  "/v1/assessment_tags/{id}":
    put:
      summary: Update the name of an assessment tag record
      description: Update the name of a tag. Only organization admins are able to update tags.
      tags:
        - Tags
      parameters:
        - name: id
          in: path
          description: ID of the assessment tag
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name of the tag
              required:
                - name
      responses:
        '200':
          description: The updated assessment tag record
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  name:
                    type: string
                    description: custom assessment tag
                required:
                  - id
                  - name
        '400':
          description: Missing required request parameters
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '404':
          description: Requesting party is missing admin privileges or no tag corresponding to the given ID was found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '422':
          description: Tag update failed unexpectedly (an array of error messages is returned in the response)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"

    delete:
      summary: Remove an assessment tag record
      description: Remove a tag. Only organization admins are able to delete tags.
      tags:
        - Tags
      parameters:
        - name: id
          in: path
          description: ID of the assessment tag
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Tag was successfully removed
        '404':
          description: Requesting party is missing admin privileges or no tag corresponding to the given ID was found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"
        '422':
          description: Tag deletion failed unexpectedly
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errors"         

  /v1/users:
    get:
      tags:
      - Users
      summary: Fetch users
      description: Fetch all organization users (members & admins). Banned users will
        not be included. Requires admin privileges.
      responses:
        "200":
          description: Successfully fetched users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      tags:
      - Users
      summary: Create a new member/admin
      description: Create a new member/admin and grant it access to assessments (if
        any). Requires admin privileges.
      requestBody:
        description: Request body.
        content:
          application/json:
            schema:
              required:
              - email
              type: object
              properties:
                email:
                  type: string
                  description: E-mail address for the user
                first_name:
                  type: string
                  description: First name of the user
                last_name:
                  type: string
                  description: Last name of the user
                admin:
                  type: boolean
                  description: Flag to indicate whether to grant admin privileges
                  default: false
                assessments:
                  type: array
                  description: IDs of assessments to grant user access to
                  items:
                    type: string
                send_invite:
                  type: boolean
                  description: Flag to indicate whether to send the user the invitation
                    URL by e-mail
                  default: true
        required: true
      responses:
        "201":
          description: The newly created user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: "Payload includes unpermitted parameters, given assessment\
            \ IDs are invalid or user creation failed (e.g. e-mail already exists)"
          content: {}
        "403":
          description: The requesting party does not have admin privileges
          content: {}                  

  /v1/users/{id}:
    get:
      tags:
      - Users
      summary: Fetch user account
      description: Fetch information about a user account. Requires admin privileges.
      parameters:
      - name: id
        in: path
        description: ID of the user
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully got users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
        "404":
          description: No such user
          content: {}         
    put:
      tags:
      - Users
      summary: Update user account status
      description: Update existing user (reactivate and/or grant admin privileges).
        The user is automatically notified by e-mail upon account reactivation. Requires
        admin privileges.
      parameters:
      - name: id
        in: path
        description: ID of the user
        required: true
        schema:
          type: string
      - name: admin
        in: query
        description: Flag to indicate whether to grant/remove admin privileges
        schema:
          type: boolean
      - name: reactivate
        in: query
        description: Flag to indicate whether to reactivate (unban) the user
        schema:
          type: boolean
      responses:
        "200":
          description: The updated created user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: Payload includes unpermitted parameters
          content: {}
        "403":
          description: The requesting party does not have admin privileges
          content: {}
        "404":
          description: No such user
          content: {}
    delete:
      tags:
      - Users
      summary: Ban/delete user
      description: Ban/delete a user account. Requires admin privileges.
      parameters:
      - name: id
        in: path
        description: ID of the user
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully banned user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
        "403":
          description: The requesting party does not have admin privileges
          content: {}
        "404":
          description: No such user
          content: {}          

security:
  - BearerAuth: []
  - BasicAuth: []
  - ApiKeyAuth: []

tags:
  - name: Assessments
    description: Operations related to security assessments
  - name: Tests
    description: Operations related to security tests
  - name: Test Plans
    description: Operations related to test plans
  - name: Vulnerabilities
    description: Operations related to security vulnerabilities
  - name: Suspected Vulnerabilities
    description: Operations related to suspected vulnerabilities
  - name: Comments
    description: Operations related to comments
  - name: Patch Verifications
    description: Operations related to patch verifications
  - name: Users
    description: Operations related to users
  - name: Assessment Groups
    description: Operations related to assessment groups
  - name: Tags
    description: Operations related to tags
  - name: Vulnerability Statuses
    description: Operations related to vulnerability statuses
  - name: Listings
    description: Operations related to listings
